{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block body_block %}
    <h1>Rango says...</h1>
    <div>
        {% if user.is_authenticated %}
            howdy {{ user.username }}!
        {% else %}
            hey there partner!
        {% endif %}
    </div>
    <div>
        {% if categories %}
        <h1>Most Liked Categories</h1>
        <ul>
            {% for category in categories %}
                <li>
                    <a href="{% url 'show_category' category.slug %}">{{ category.name }}</a>
                </li>
            {% endfor %}
        </ul>
        {% else %}
            <strong>There are no categories present.</strong>
        {% endif %}
    </div>
    <div>
        {% if pages %}
        <h1>Most Viewed Pages</h1>
        <ul>
            {% for page in pages %}
                <li>
                    <a href="{{ page.url }}">{{ page.title }}</a>
                </li>
            {% endfor %}
        </ul>
        {% else %}
            <strong>There are no pages present.</strong>
        {% endif %}

    </div>
    <div>
        <img src="{% static "images/rango.jpg" %}"
        alt="Picture of a chicken"/>
        <p>visits: {{ visits }}</p>
    </div>
{% endblock %}